<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>06登陆小案例</title>
    <script src="./js/angular.js"></script>
</head>
<body ng-controller="mainController">

<form ng-submit="action.send()">
    <table>
        <tr>
            <td>用户名</td>
            <td><input type="text" name="username" ng-model="data.username"></td>
        </tr>
        <tr>
            <td>密码</td>
            <td><input type="password" name="password" ng-model="data.password"></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="登陆"></td>
        </tr>
    </table>
</form>

<script src="./js/06.js">
    


</script>


</body>
</html>