<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>06登陆小案例</title>
    <script src="./js/angular.js"></script>
</head>
<body ng-controller="mainController">

<form ng-submit="action.send()">
    <table>
        <tr>
            <td>用户名</td>
            <td><input type="text" name="username" ng-model="data.username"></td>
        </tr>
        <tr>
            <td>密码</td>
            <td><input type="password" name="password" ng-model="data.password"></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="登陆"></td>
        </tr>
    </table>
</form>

<script>
    //    4. 创建一个AngularJS模块，并把一个控制器附加到模块上
    //    （
    //    模块的创建：var app = angular.module('app',[])
    //    控制器的创建： app.controller('mainController',function($scope){  }
    //    ）

    var app = angular.module('app', []);
    app.controller('mainController', function ($scope) {
        $scope.data = {};
        $scope.action = {
            test:1
        };
        $scope.action.send = function(){
            alert($scope.data.username + ' : ' +$scope.data.password);
        }



    })


</script>


</body>
</html>